* {
  margin: 0;
  padding: 0;
}

body {
  flow: horizontal; 
  border-spacing: *;
  vertical-align: middle; 
}

input {
  width: 25%;
  margin: 5px;
}

label {
  margin: 5px;
  width: max-content;
  text-align: center;
  vertical-align: middle; 
}