* {
  margin: 0;
  padding: 0;
}

body {
  flow: vertical; 
  border-spacing: *;
  vertical-align: middle; 
}

select {
  width: calc(100% - 8px);
  margin: 3px;
  height: 20px;
}

select, option {
  text-align: center;
  vertical-align: middle;
}

option {
  background: white;
  color: black;
}

option:hover {
  background: #1883D7;
  color: white;
}

input.date, button.book {
  text-align: center;
  width: calc(100% - 8px);
  margin: 3px;
  height: 20px;
}

input.date.invalid {
  background: red;
}