.container {
  margin: 0 auto;
  width: 300px;
  height: *;
  min-height: 141px;
  padding: 0.5em 1em;
}

label {
  white-space: nowrap;
  width: *;
}

label.wider {
  width: 0.7*;
}

input {
  width: *;
  height: 1em;
  color: black;
}

input, label, option {
  text-align: left;
}

select {
  width: *;
  height: *;
}

.buttons {
  border-spacing: 1em;
}

.space-filler {
  margin-bottom: 27px;
}

.unset-vertical-align {
  vertical-align: unset;
}

.expand-vertically {
  height: *;
  max-height: unset;
}