* {
  margin: 0;
  padding: 0;
}

body {
  flow: vertical;
  border-spacing: 5px;
  width: 100%;
  height: 100%;
}

.row {
  width: calc(100% - 10px);
  flow: horizontal;
  border-spacing: *;
  vertical-align: middle;
  margin: 5px;
}

.col {
  width: 49%;
  align-content: center;
}

.col.buttons {
  flow: horizontal;
  justify-content: space-between;
  border-spacing: 20px;
  width: 100%;
}

label {
  width: calc(50% - 10px);
}

[type=text] {
  width: calc(50% - 10px);
  padding: 2px;
}

[type=list] {
  width: calc(100% - 7px);
}

.col.buttons > button {
  width: 23%;
}