* {
  margin: 0;
  padding: 0;
}

body {
  flow: vertical; 
  border-spacing: 5px;
  horizontal-align: center;
}

div.row {
  width: 50%;
  flow: horizontal;
  horizontal-align: center;
}

button {
  width: 40%;
  margin: 10%;
}

div#canvas {
  background: white;
  outline: 1px solid black;
  width: calc(100% - 10px);
  height: calc(100% - 67px);
}