* {
  margin: 0;
  padding: 0;
}

body {
  flow: horizontal; 
  border-spacing: *;
  vertical-align: middle; 
}

button {
  width: calc(50% - 10px);
  margin: 5px;
}

input {
  width: calc(50% - 10px);
  text-align: right;
  margin: 5px;
}