* {
  text-align: center;
  vertical-align: middle;
  font-size: 10pt;
}

html {
  font: 'Fira Sans';
  min-width: max-content;
  min-height: max-content;
}

body {
  size: *;
  margin: 0;
}

.container {
  size: max-content;
  margin: *;
  padding: 1em;
  flow: vertical;
}

.col {
  size: *;
  flow: vertical;
  border-spacing: 0.5em;
}

.row {
  width: *;
  max-height: min-content;
  flow: horizontal;
  border-spacing: 0.5em;
}

button:not(.slider) {
  height: *;
}

button>span {
  width: *;
  vertical-align: middle;
}