.container {
  width: 250px;
}

.row:first-child {
  flow: horizontal;
}

.row {
  flow: row(label, input);
  width: *;
}

.row>label {
  white-space: nowrap;
  vertical-align: middle;
}

.row>button {
  width: *;
}

div.progress {
  width: *;
  flow: horizontal;
  border-spacing: 0.5em;
}

span.progress {
  width: max-content;
  display: block;
  text-align: left;
}

span.progress:last-child {
  width: *;
}

span.progress>label {
  width: max-content;
}

[type=hslider] {
  width: *;
  height: 3px;
  border-radius: 5px;
}

[type=progress] {
 width: 162px;
 height: 1em;
}