* {
  margin: 0;
  padding: 0;
}

body {
  flow: horizontal-wrap;
  width: 100%;
  border-spacing: 10px;
  height: 100%;
  margin: 10px;
}

label {
  white-space: nowrap;
  vertical-align: middle;
  text-align: left;
  width: 40%;
}

label.wide {
  width: 90%;
}

input[type=progress], input[type=hslider] {
  width: 40%;
}

button.reset {
  width: 90%;
}